## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [4]:
import os
import numpy as np
import pandas as pd

In [5]:
# 設定 data_path
dir_data = './data/'

In [6]:
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app, encoding='utf-8')

app_train.head()

Path of read in data: ./data/HomeCredit_columns_description.csv

,Unnamed: 0,Table,Row,Description,Special,Unnamed: 5,Unnamed: 6
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN,NaN,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN,NaN,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN,NaN,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN,NaN,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN,NaN,NaN

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [33]:
app_train.shape

(205, 7)

#### 列出所有欄位

In [34]:
print(app_train.columns)

Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special', 'Unnamed: 5',
       'Unnamed: 6'],
      dtype='object')

#### 截取部分資料

In [23]:
app_train.loc[1]

Unnamed: 0                                                     2
Table                               application_{train|test}.csv
Row                                                       TARGET
Description    Target variable (1 - client with payment diffi...
Special                                                      NaN
Unnamed: 5                                                   NaN
Unnamed: 6                                                   NaN
Name: 1, dtype: object

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [26]:
app_train.iloc[8]

Unnamed: 0                               11
Table          application_{train|test}.csv
Row                              AMT_CREDIT
Description       Credit amount of the loan
Special                                 NaN
Unnamed: 5                              NaN
Unnamed: 6                              NaN
Name: 8, dtype: object